.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App-header {
  background-color: #f1f1f1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.button-container {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 45vw; 
}

.camera-button,
.gallery-button {
  width: 40px;
  height: 40px;
  border-radius: 50%; 
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  outline: none; 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
}

.camera-button {
  background-color: #ffe9d1;
}


.camera-button img,
.gallery-button img {
  max-width: 60%; 
  max-height: 60%; 
}

.image-placeholder {
  width: 80vw; 
  margin-top: 20px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-placeholder img {
  width: 100%; 
  height: auto; 
}
